Dockerfile
.dockerignore
docker-compose.yml
config/sites/api.mobility48.test
config/sites/api.demo.5t.drupalvm.test
config/sites/api.demo.5t.drupalvm.test
config/sites/api.demo.mobility48.test
config/sites/default/backup
config/sites/default/__settings.php
/config/.env
/config/.env.example
env.sample
env.sample_1
.env.impronta-local
logs
update-git-srv.sh
!/plugins/Reports
/plugins/EmailQueue
plugins/NextcloudStorage
plugins/Subscriptions
plugins/Testcommuters
plugins/MomaMobilityLabel
!plugins/Orariscuole
!plugins/Notifications
webroot/5T
webroot/Piemonte
webroot/Demo5T
webroot/img
webroot/Mobility48
webroot/Moma
webroot/js/node_modules
*.env
/tmp
/logs
